extends layout.pug

block content
      
      h1 Hogwarts Library Database
      p
        a.button(href='/books/new') Create New Book
      div
         form.search(method='GET' action='/search')
           div.form-group
             input.button(type='text', placeholder='Enter Search Here...' name='term' value=undefined)
             button.button(type='submit') Search  
         p
           a.button(href='/books') Home
        
      table
            thead
               tr
               th Title
               th Author
               th Genre
               th Year
            tbody
               embed(name='PotterTheme' src='/stylesheets/potter.mp3' loop='true' hidden='true' autostart='true')
               each book in books
                 tr
                  td
                    a(href = "/books/" + book.id)= book.title
                  td= book.author
                  td= book.genre
                  td= book.year
      div.pagination
        -for(var i=1; i<=totalPages; i++)
            a.button(href= `/books/?column=${column}&searchKeyWord=${searchKeyWord}&&page=${i}`)= i